body{
    background-color: #FFFFFF;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .header{
    padding:16px 16px ;
    border-bottom: 1px solid black;
  }
  .nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 ;
    margin:0 ;
  
  
  }
  .nav_1{
    color:#000000;
    font-size: 42px;
    line-height: 42px;
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
    cursor: pointer; 
  }
  a{
    color:#000000;
    
    font-size: 28px;
    margin-left: 32px;
    line-height: 32px;
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    
  }
  .container{
    border-top: 1px solid rgba(255, 255, 255, 1) ;
    padding: 100px;
    overflow: hidden;
    border-bottom: 1px solid rgba(56, 22, 100, 1);
    
  }
  .container-1{
    padding: 70px 0;
    
  }
  
  .container-header{
    color: #000000;
    margin: auto;
    line-height: 7.5rem;
    text-align: center;
    font-size: 7.5rem;
    margin-bottom: 3.12rem;
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
    
    
  
  .container-header-image{
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 25px;
    
  }
  .container-2{
    display: flex;
    
    gap: 50px;
    overflow: hidden;
    padding: 0;
    
  }
  .container-2-images{
    width: 100%; 
    height: auto; 
    
  
  }
  .container-2-images-title{
    font-size:20px ;
    font-weight: 400;
    color: black;
    line-height: 24px;
    margin: 0;
    margin-top: 5px;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
    
  
  .container-2-images-desc{
    
    font-size:17px ;
    line-height: 24px;
    font-weight: 400;
    color: black;
    margin: 0;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 5px;
    
  }
  
  .container-3{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /* align-items: center; */
    margin-top: 80px;
    

  }
  #alphabet{
  margin-right: 50px;
  }
  .icons{
  display: flex;
  margin-top: 40px;
  margin-right: 60px;
  }
  .icons img{
  width: 40px;
  height: 40px;
  }
  .reachout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  }
  #follow p{
  font-family:"Lexend Exa", sans-serif ;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  }
  #email1{
  width: 300px;
  height: 28px;
  }
  .my-button {
  height: 30px;
  background-color: #AD7C00;
  color: white;
  border: 0;
  border-radius: 8px;
  }
  .copy{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 100px;
  font-family:  "Lexend Exa", sans-serif;
  font-weight: 300;
  margin-left: 80px;
  margin-right: 80px;
  }
  #contact1{
  border: 2px solid #00000029;
  border-radius: 8px;
  height: 48px;
  width: 145px;
  background-color: white;
  font-family: "Lexend Exa", sans-serif;
  cursor: pointer;
  }
  #contact2{
  font-family:  "Lexend Exa", sans-serif;
  font-weight: 300;
  }
  #contact{
    font-family: "Lexend Exa", sans-serif;
    font-weight: 300;
    font-size: 22px;
  }
  #alphabet{
    font-family:  "Newsreader", serif;
  }
  

